version: '3.8'

services:
  backend:
    build: ./backend
    container_name: music-downloader
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - ./downloads:/app/downloads
      - ./config:/app/config
    environment:
      - TZ=Europe/Madrid
